@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: theme("fontFamily.sans");
  background-color: #f5f5f5;
  color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}
